/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-header,
  .modal-footer {
    background-color: #f8f9fa;
    position: sticky;
    z-index: 100; /* to make sure the header and footer are on top of the content */
  }
  
  .modal-header {
    top: 0;
    /* header styles go here */
  }
  
  .modal-footer {
    bottom: 0;
    /* footer styles go here */
  }

  /* Modal Content/Box */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    overflow-y: auto;
    border-radius: 12px;
    width: 90%; /* Could be more or less, depending on screen size */
  }
  
  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .modal-content {
      width: 90%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .modal-content {
      width: 75%;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .modal-content {
      width: 50%;
    }
  }

  /* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.rlr-icon-font {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.rlr-icon-font {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.rlr-icon-font {
    color:#FF912C;
  }
  
  