@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');

/* MAIN STYLE */

.upload-card {
    width: 100%;
    height: auto;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    background: #fafbff;
}

.upload-card p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #878a9a;
}

.upload-card button {
    outline: 0;
    border: 0;
        -webkit-appearence: none;
	background: #10a5b2;
	color: #fff;
	border-radius: 4px;
	transition: 0.3s;
	cursor: pointer;
	font-weight: 400;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 0.8rem;
	padding: 8px 13px;
}

.upload-card button:hover {
	opacity: 0.8;
}

.upload-card button:active {
	transform: translateY(5px);
}

.upload-card .drag-area {
	width: 100%;
	height: 160px;
	border-radius: 5px;
	border: 2px dashed #c9d8d9;
	color: #aac6c8;
	font-size: 0.9rem;
	font-weight: 500;
	position: relative;
	background: #d1e0e159;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	margin-top: 10px;
}

.upload-card .drag-area .visible {
	font-size: 18px;
}
.upload-card .select-file {
    color: #10a5b2;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.4s;
}

.upload-card .select-file:hover {
	opacity: 0.6;
}

.upload-card .upload-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-height: 200px;
	overflow-y: auto;
	margin-top: 10px;
}

.upload-card .upload-container .image {
    width: calc(33.33% - 10px); /* adjust width to 33.33% and reduce margin */
    margin-right: 10px;
    height: 150px;
    position: relative;
    margin-bottom: 8px;
}

.upload-card .upload-container .image img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
    object-fit: cover;
}

.upload-card .upload-container .image span {
	position: absolute;
	top: -2px;
	right: 9px;
	font-size: 20px;
	cursor: pointer;
}

/* dragover class will used in drag and drop system */
.upload-card .drag-area.dragover {
	background: rgba(0, 0, 0, 0.4);
}

.upload-card .drag-area.dragover .on-drop {
	display: inline;
	font-size: 28px;
}

.upload-card input,
.upload-card .drag-area .on-drop, 
.upload-card .drag-area.dragover .visible {
	display: none;
}